{% extends 'base.html' %} {% block content %}
<div class="row justify-content-center">
    {% for item in data %}
    <div class="col-md-3 m-2 col-xs-12">
        <div class="card" style="max-width: 350px; min-width: 0;">
            <img class="card-img-top" src="{{ url_for('static', filename='/house.png') }}" style="height: 180px" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">${{ item.listPrice | numberFormat }}</h4>
                <p class="card-text">{{ item.noBedrooms }} bed {{item.noBaths}} bath. Built in {{item.yearBuilt}}</p>
                <p class="card-text">{{ item.address }}</p>
                <a href="/detail/{{item.id}}" class="stretched-link"></a>
            </div>
            <div class="card-footer">
                <small class="text-muted font-weight-bold">MLS<sup>&reg;</sup>{{item.mlNo}}</small>
                {% if item.status == 'Active' %}
                    <span class="badge badge-pill badge-success float-right" style="background-color: green">Active</span>
                {% else %}
                    <span class="badge badge-pill badge-success float-right" style="background-color: #DC3444">{{item.status}}</span>
                {% endif%}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row justify-content-center">
    {{ pagination.info }}
</div>
<div class="row justify-content-center">
    {{ pagination.links }}
</div>
{% endblock %}