{% extends 'base.html' %} {% block content %}
<nav class="listing-navigation xs-py2 xs-mt1 gut  xs-hide sm-block print-hide">
    <div class="xs-flex xs-flex-align-center">
        <a href="" onclick="window.history.back(); return false;" class="xs-mr5 nowrap xs-hide md-inline-flex md-flex-align-center xs-text-5 text-primary hover:decoration-underline">
            <svg viewBox="0 0 24 24" height="16" width="16" class="fill-current xs-mr1" aria-hidden="true"><path d="M10 4.93L2.93 12 10 19.07l1.5-1.5L6.93 13H21v-2H6.93l4.57-4.57-1.5-1.5z"></path></svg> Back to Search
        </a>
    </div>
</nav>
<section class="section-listing-photos xs-relative md-rounded-md xs-overflow-hidden md-mx3">
    <div class="listing-photos md-flex fill-grey-bg-3 xs-relative">
        <figure class="listing-photos-col xs-flex-grow-1 md-col-6 xs-aspect-3-2 xs-full-height xs-overflow-hidden pointer" data-toggle="modal" data-target="#listingGalleryModal" data-view="gallery">
            <img src="{{ url_for('static', filename='/house.png') }}" srcset="{{ url_for('static', filename='/house.png') }}" sizes="(min-width:64rem) 50vw, 100vw" decoding="async" class="card-listing--img aspect-content center xs-full-height xs-z1  listing-slider-content-photo-main">
            <figcaption class="xs-px3 xs-text-6 text-muted xs-hide">{{data.address}}</figcaption>
        </figure>
        <figure class="listing-photos-col xs-flex-grow-1 md-col-6 xs-aspect-3-2 xs-full-height xs-overflow-hidden pointer" data-toggle="modal" data-target="#listingGalleryModal" data-view="gallery">
            <img src="{{ url_for('static', filename='/house.png') }}" srcset="{{ url_for('static', filename='/house.png') }}" sizes="(min-width:64rem) 50vw, 100vw" decoding="async" class="card-listing--img center aspect-content xs-full-height xs-z1  listing-slider-content-photo-main">
            <figcaption class="xs-px3 xs-text-6 text-muted xs-hide">{{data.address}}</figcaption>
        </figure>
        <div class="listing-photos-col xs-hide md-flex md-flex-column md-col-2 xs-flex-grow-1">
            <div class="xs-relative xs-flex-grow-1 xs-overflow-hidden pointer" data-target="#listingGalleryModal" data-toggle="modal" data-view="gallery">
                <img src="/img/img-none-2.jpg?t=1" data-img-defer-src="/img/img-none-2.jpg?t=1" class="listing-slider-content-photo object-fit-cover xs-full-width xs-full-height aspect-content ls-is-cached lazyloaded" style="-webkit-filter: blur(0.5rem); filter: blur(0.5rem); transform: scale(1.1); -webkit-transform: scale(1.1);"
                    alt="See more photos of  104 - 5565 Inman Avenue, Burnaby">
                <div class="xs-absolute xs-t0 xs-r0 xs-b0 xs-l0 xs-z2 xs-flex xs-flex-align-center xs-flex-justify-center fill-secondary">
                    <div class="text-white bold xs-flex xs-flex-column xs-flex-align-center">
                        <svg viewBox="0 0 24 24" height="32" width="32" class="fill-current xs-mb1">
    <path d="M15 2H9L7.16 4H4a2 2 0 00-2 2v12c0 1.1.9 2 2 2h16a2 2 0 002-2V6a2 2 0 00-2-2h-3.16L15 2zm-.88 2l1.85 2H20v12H4V6h4.04l1.84-2h4.24zM12 7a5 5 0 100 10 5 5 0 000-10zm0 2a3 3 0 110 6 3 3 0 010-6z"></path>
    </svg> See all 36 Photos</div>
                </div>
            </div>
        </div>
    </div>
    <div class="xs-absolute xs-b2 xs-r2 xs-z2 md-hide">
        <div class="xs-py05 xs-px1 fill-primary text-white xs-text-6 bold rounded xs-flex xs-flex-align-center pointer-events-none">
            <svg viewBox="0 0 24 24" height="12" width="12" class="fill-current xs-mr05"><title>photos</title><circle cx="12" cy="12" r="3"></circle><path d="M20 4h-3.17l-1.24-1.35A2 2 0 0014.12 2H9.88c-.56 0-1.1.24-1.48.65L7.17 4H4a2 2 0 00-2 2v12c0 1.1.9 2 2 2h16a2 2 0 002-2V6a2 2 0 00-2-2zm-8 13a5 5 0 110-10 5 5 0 010 10z"></path></svg>            36 </div>
    </div>
</section>
<section class="section-main gut md-pb3 container md-grid md-gap-6 grid-cols-listing">
    <div class="main-column">
        <section class="xs-grid xs-gap-2 listing-summary-grid xs-mt4 xs-mb3 md-mt5">
            <section class="listing-location min-width-0">
                <h1 class="address xs-text-2 sm-text-1 truncate heavy">
                    {{data.address}} </h1>
                <div class="area truncate">{{data.city}}</div>
                <ul class="list-unstyled xs-mt2 bold">
                    <li class="tile-data xs-inline xs-mr1"><span class="priv">{{data.noBedrooms}}</span> bed</li>
                    <li class="tile-data xs-inline xs-mr1"><span class="priv">{{data.noBaths}}</span> bath</li>
                </ul>
            </section>
            <section class="listing-price sm-text-right sm-flex sm-flex-column">
                <div class="xs-text-2 sm-text-1 heavy xs-inline sm-block xs-mr2 sm-mr0">
                    <span class="priv">
    ${{ data.listPrice | numberFormat }} </span>
                </div>
                <div class="xs-mt2 xs-flex xs-flex-align-center sm-flex-row-reverse">
                    {% if data.status == 'Active' %}
                    <div class="bold"><span class="priv">For Sale</span></div>
                    <svg viewBox="0 0 24 24" height="20" width="20" class="fill-current text-green" aria-hidden="true">
        <circle cx="12" cy="12" r="4"></circle>
                    {% else %}
                        <div class="bold"><span class="priv">{{data.status}}</span></div>
                        <svg viewBox="0 0 24 24" height="20" width="20" class="fill-current text-red" aria-hidden="true">
        <circle cx="12" cy="12" r="4"></circle>
                    {% endif %}
    </svg>
                </div>
            </section>
        </section>
        <section class="section-listing section-listing-pad xs-border-top-none md-border-top-lighter xs-mt3 xs-pb4 md-pt3 md-pb5 expandable">
            <section class="section-listing-content sm-grid sm-gap-3 xs-mb3 sm-grid-cols-2">
                <div>
                    <dl class="column">
                        <dt class="column-label">Type</dt>
                        <dd class="column-value"><span class="priv">{{data.typeOfDwelling}}</span></dd>
                    </dl>
                    <dl class="column">
                        <dt class="column-label">Size</dt>
                        <dd class="column-value"><span class="priv">{{data.lotSizeSqFeet if data.lotSizeSqFeet != 0 else '-'}} sqft</span></dd>
                    </dl>
                    <dl class="column">
                        <dt class="column-label">Year Built</dt>
                        <dd class="column-value"><span class="priv">{{data.yearBuilt}}</span></dd>
                    </dl>
                    <dl class="column">
                        <dt class="column-label">Pets</dt>
                        <dd class="column-value"><span class="priv">No Data</span></dd>
                    </dl>
                    <dl class="column">
                        <dt class="column-label">Taxes</dt>
                        <dd class="column-value"><span class="priv">${{data.grossTaxes | numberFormat}} /yr</span></dd>
                    </dl>
                </div>
                <div class="xs-mt3 sm-mt0">
                    <dl class="column">
                        <dt class="column-label">Added</dt>
                        <dd class="column-value">{{data.listDate}}</dd>
                    </dl>
                    <dl class="column key-fact-mls">
                        <dt class="column-label">MLS®#</dt>
                        <dd class="column-value"><span class="priv">{{data.mlNo}}</span></dd>
                    </dl>
                    <dl class="column">
                        <dt class="column-label">Listed By</dt>
                        <dd class="column-value"><em>listing broker</em></dd>
                    </dl>
                </div>
            </section>
        </section>
        <section class="section-listing section-listing-pad acc md-acc-open">
            <input id="acc-section-building" type="checkbox" class="acc-input">
            <span class="acc-icon"></span>
            <label for="acc-section-building" class="acc-label">
    <h3 class="section-listing-title">Building
    <span class="xs-text-5 normal xs-block xs-pr4 xs-mt1">Building information on {{data.address}}: 1 unit for sale</span>
    </h3>
    </label>
            <div class="section-listing-content acc-content">
                <div class="section-listing-content-pad">
                    <section class="units-for-sale  " id="other-units-for-sale">
                        <h4 class="xs-text-3 bold xs-mb1">For Sale</h4>
                        <div class="table xs-full-width xs-mb3 table-building" style="max-width:30rem;">
                            <div class="tr">
                                <div class="th bold">{{data.noBedrooms}} Bed</div>
                            </div>
                            <div class="td table-building-unit xs-col-3 sm-col-3"><span class="xs-hide sm-inline">Unit</span> {{data.addressUnit}}</div>
                            <div class="td table-building-price xs-text-right xs-col-4 sm-col-3">$<span class="">{{data.listPrice|numberFormat}}</span></div>
                            <div class="td table-building-baths xs-text-right sm-col-3 xs-hide sm-table-cell"><span class="">{{data.noBaths}}</span> bath</div>
                            <div class="td table-building-size xs-text-right xs-col-5 sm-col-3"><span class="">{{data.lotSizeSqFeet if data.lotSizeSqFeet != 0 else '-'}}</span> ft<sup>2</sup></div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
    <aside class="side-column xs-mt3 md-mt0 xs-mb5 md-mb0 xs-relative xs-z2">
        <section id="sticky" class="">
            <nav class="nav-actions xs-flex xs-flex-align-center gut fill-white xs-fixed xs-b0 xs-l0 xs-r0 xs-shadow-top xs-z4 md-hide">
                <div class="nav-actions-cta xs-flex xs-full-width xs-flex-align-center xs-my1">
                    <a href="tel:+17784021805" class="button button--action xs-mr1 xs-flex-grow-1 pill" onclick="ga('send', {
      hitType: 'event',
      eventCategory: 'listing',
      eventAction: 'call',
      eventLabel: 'sale'
      });">Call</a>
                    <a href="#contact_us" class="button button--action xs-flex-grow-1 pill">Email</a>
                </div>
            </nav>
        </section>
        <div class="listing-lead fill-white md-px3 md-mt3 xs-sticky xs-t2  xs-z1 rounded shadow-3" id="contact_us">
            <h3 class="xs-full-width bold xs-py3 xs-text-2">Ask About this Home</h3>
            <form action="#" method="post" name="contact_prop_details" class="listing-lead-form xs-pb3" id="top_contact_prop_details">
                <div class="listing-lead-form-inputs"><label for="InputFullname" class="sr-only">Full name</label>
                    <div class="input-wrapper xs-mb1">
                        <input type="text" id="InputFullname" placeholder="Full Name" class="text-input rounded fill-grey-input xs-pr4" name="fullname" data-validate="true" data-required="true" required="">
                        <div class="xs-flex xs-flex-align-center xs-flex-justify-center xs-border border-transparent rounded text-secondary xs-p1 xs-absolute xs-r0 xs-t0 xs-full-height">
                            <svg viewBox="0 0 24 24" height="20" width="20" class="fill-current text-secondary"><path d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m0 9c2.7 0 5.8 1.29 6 2v1H6v-.99c.2-.72 3.3-2.01 6-2.01m0-11a4 4 0 100 8 4 4 0 000-8zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"></path></svg>
                        </div>
                    </div><label for="inputEmail" class="sr-only">Email address</label>
                    <div class="input-wrapper xs-mb1">
                        <input type="email" id="inputEmail" placeholder="Email Address" class="text-input rounded fill-grey-input xs-pr4" name="emailaddress" data-validate="true" data-required="true" required="">
                        <div class="xs-flex xs-flex-align-center xs-flex-justify-center xs-border border-transparent rounded text-secondary xs-p1 xs-absolute xs-r0 xs-t0 xs-full-height">
                            <svg viewBox="0 0 24 24" height="20" width="20" class="fill-current text-secondary"><path d="M22 6a2 2 0 00-2-2H4a2 2 0 00-2 2v12c0 1.1.9 2 2 2h16a2 2 0 002-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"></path></svg>
                        </div>
                    </div>
                    <label for="inputPhone" class="sr-only">Phone number</label>
                    <div class="input-wrapper xs-mb1">
                        <input type="tel" id="inputPhone" placeholder="Phone Number (Mobile)" class="text-input rounded fill-grey-input xs-pr4" name="mobile" data-validate="true" data-required="true" required="" pattern="^[\s\S]{10,}$">
                        <div class="xs-flex xs-flex-align-center xs-flex-justify-center xs-border border-transparent rounded text-secondary xs-p1 xs-absolute xs-r0 xs-t0 xs-full-height">
                            <svg viewBox="0 0 24 24" height="20" width="20" class="fill-current text-secondary"><path d="M7 1a2 2 0 00-2 2v18c0 1.1.9 2 2 2h10a2 2 0 002-2V3a2 2 0 00-2-2H7zm0 2h10v2H7V3zm0 4h10v9H7V7zm0 11h10v3H7v-3zm3 1v1h4v-1h-4z"></path></svg>
                        </div>
                    </div>
                    <label for="inputMessage" class="sr-only">Message</label>
                    <textarea id="inputMessage" class="text-input rounded fill-grey-input" rows="4" name="c_message">I would like more information regarding a property at {{data.address}}</textarea>
                    <button type="submit" disabled class="button button--action button--large pill xs-full-width xs-mt1 xs-flex xs-flex-justify-center bold shadow-2 text-3">Submit</button>
                </div>
                <div class="xs-text-center xs-mt3">
                    <div class="xs-mb1">or call for info</div>
                    <div class="realtor-call xs-ml-auto">
                        <a>(012) 345-6789</a>
                    </div>
                </div>
                <input type="hidden" name="cid" value="1">
                <input type="hidden" name="pid" value="10411531">
                <input type="hidden" name="this_s_r" value="sale">
                <input type="text" name="Email" id="email" placeholder="Your email" class="xs-hide">
            </form>
        </div>
    </aside>
</section>
{% endblock %} {% block footer %}
<section class="">
    <div class="container text-center text-md-start p-4" style="font-size: small;">
        <p style="color: black;">
            <b>Disclaimer:</b> Listing data is based in whole or in part on data generated by the Real Estate Board of Greater Vancouver, Fraser Valley Real Estate Board and Chilliwack & District Real Estate Board which assumes no responsibility for its
            accuracy. </p>
        <hr style="border-top: 3px solid #bbb;">
        <center>
            <div style="width: 200px;">
                <h5 style="color: black" class="mb-3" data-toggle="modal" data-target="#tncmodal"><a href="#">Terms and Condition</a></h5>
                <img src="{{ url_for('static', filename='/team-3000.png') }}" style="width: 40%;">
            </div>
        </center>
    </div>
</section>
<div class="modal fade" style="background-color: transparent;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;" id="tncmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content" style="color: black;">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalScrollableTitle">Terms & Conditions</h2>
            </div>
            <div class="modal-body">
                <b><h5>LAST UPDATED: August 17, 2021</h5></b>

                <p style="font-size: small;" class="mt-2 mb-4">By accessing any of the websites or mobile applications operated by the agent you agree to be bound by all of the TERMS & CONDITIONS and PRIVACY POLICY and agree that these terms constitute a binding contract between you and the agent.</p>

                <b><h5>Copyright</h5></b>

                <p style="font-size: small;" class="mt-2 mb-3">Property listings and other data available on this site are intended for private, non-commercial use by individuals. Any commercial use of the listings or data in whole or in part, directly or indirectly, is specifically forbidden except
                    with the prior written authority of the owner of the copyright.</p>

                <p style="font-size: small;" class="mb-3">The users may, subject to the Terms and Conditions, print or otherwise save individual pages for private use. However, property listings and/or data may not be modified or altered in any respect, merged with other data or published in
                    any form, in whole or in part. The prohibited uses include "screen scraping," "database scraping," and any other activities intended to collect, store, reorganize or manipulate or publish data on the pages produced by, or displayed
                    by this website or its associated or affiliated websites.</p>

                <p style="font-size: small;" class="mb-3">REALTOR® is a certification mark owned by REALTOR® Canada Inc., a corporation owned by the National Association of REALTORS® and CREA.</p>

                <p style="font-size: small;" class="mb-4">Multiple Listing Service® is a registered certification mark owned by CREA and used to identify real estate services provided by brokers and salespersons who are members of CREA.
                </p>

                <b><h5>Disclaimer</h5></b>
                <p style="font-size: small;" class="mt-2 mb-4">NOTE: This representation is based in whole or in part on data generated by the Chilliwack & District Real Estate Board, Fraser Valley Real Estate Board or Real Estate Board of Greater Vancouver which assume no responsibility for its accuracy.</p>

                <p style="font-size: small;" class="mt-2 mb-4">We make no representations about the suitability of the data, information, or graphics published on this site. Everything on this site is provided "As Is" and "As Available" without warranty of any kind including all implied warranties
                    and conditions of merchantability, fitness for a particular purpose, title and non-infringement. Neither REALTOR®, owner of this website nor any of its members, directors, officers, shareholders or affiliates shall be liable for any
                    direct, incidental, consequential, indirect or punitive damages arising out of your access to or use of this site.</p>

                <b><h5>Privacy Notice and Consent</h5></b>

                <p style="font-size: small;" class="mt-2 mb-2">In accordance with the Rules of Cooperation of the CADREB, FVREB, and REBGV, and in conjunction with Privacy Policy, the User acknowledges understanding of and agreement with the following:</p>
                <ul style="font-size: small;" class="mb-4">
                    <li>The Registrant has received, read and understood the brochure published by the British Columbia Real Estate Association entitled “Privacy Notice and Consent”;</li>
                    <li>The Registrant has a bona fide interest in the purchase, sale or lease of real estate of the type being offered through the MLS® VOW;</li>
                    <li>
                        The Registrant will not himself, and will not permit or assist others to, directly or indirectly:
                        <ul>
                            <li>Copy, redistribute or retransmit any of the MLS® VOW Data or information provided;</li>
                            <li>Display, post, disseminate, distribute, publish, broadcast, transfer, sell or sublicense any of the MLS® VOW Data to another person</li>
                            <li>Engage in Scraping (including “screen scraping” and “database scraping”), “data mining” or any other activity intended to collect, store, re-organize, summarize or manipulate any MLS® VOW Data or any related data;</li>
                        </ul>
                    </li>
                    <li>The Registrant acknowledges the Board’s ownership of, and the validity of the Board’s proprietary rights and copyright in the MLS® VOW Data, and listing information; and</li>
                    <li>The Registrant expressly authorizes the Board or their duly authorized representatives, to access the MLS® VOW and User’s information provided to the MLS® VOW Participant, for the purposes of verifying compliance with and pursuing
                        enforcement of the Terms of Use and all applicable rules, regulations, bylaws, policies, and laws.</li>
                    <li>Acknowledge and understand that the Terms of Use do not create an agency relationship and do not impose a financial obligation on the Registrant or create any representation agreement between the Registrant and the Participant;</li>
                    <li>Acknowledge and enter into a lawful REALTOR®/ consumer or REALTOR®/client relationship with the Participant, including, where necessary, completion of any applicable agency, non-agency, and other disclosure obligations, and execution
                        of any required agreements;</li>
                    <li>Understand that information on this site is deemed to be valid but is not guaranteed. It is the responsibility of the registrants to confirm all information on their own.</li>
                    <li>All data obtained from the MLS® VOW is intended for and may only be used for the User’s personal, non-commercial use;</li>
                </ul>

                <b><h5>Commercial Electronic Messages ("CEMs")</h5></b>

                <p style="font-size: small;" class="mt-2 mb-4">The REALTOR® will only sends CEMs, such as emails, in accordance with Canada's Anti-Spam Legislation ("CASL").</p>

                <b><h5>Third Party Websites</h5></b>

                <p style="font-size: small;" class="mt-2 mb-4">The Website/App may contain links from other third party websites and all such websites are independent. REALTOR® has no control over these third party websites and assumes no responsibility or obligations for such third party websites.
                    The provision of such links does not constitute any endorsement of such linked websites, their content or information appearing on the Website/App.</p>

                <b><h5>Jurisdiction</h5></b>

                <p style="font-size: small;" class="mt-2 mb-4">The Website/App can be accessed from all provinces and territories of Canada, as well as from other countries around the world. As each of these jurisdictions has laws that may differ from those of the Province of British Columbia, by
                    accessing the Website/App or Associated Services, you agree that all matters relating to access to, or use of, the Website/App or Associated Services, or any other hyperlinked website shall be governed by the laws of the Province of
                    British Columbia and the federal laws of Canada as applicable and notwithstanding conflicts of law. You also agree and hereby submit to the exclusive jurisdiction and venue of the courts of the Province of British Columbia and acknowledge
                    and do so voluntarily.
                </p>
                <div class="float-right">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}