{% extends 'base.html' %} {% block content %}
<center>
    <div class="listing-lead md-px3 md-mt3 rounded mb-3" style="width: 50%">
        <center>
            <h3 class="xs-full-width bold xs-py3 xs-text-2">Login</h3>
        </center>
        {% if success %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
        {% endif %} {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <form action="{{ url_for('login') }}" method="post" name="login_form" class="listing-lead-form xs-pb3" id="login_form">
            <div class="listing-lead-form-inputs">
                <label for="inputEmail" class="sr-only">Email address</label>
                <div class="input-wrapper xs-mb1">
                    <input type="email" id="inputEmail" placeholder="Email Address" class="text-input rounded fill-grey-input xs-pr4" name="emailaddress" data-validate="true" data-required="true" required="">
                    <div class="xs-flex xs-flex-align-center xs-flex-justify-center xs-border border-transparent rounded text-secondary xs-p1 xs-absolute xs-r0 xs-t0 xs-full-height">
                        <svg viewBox="0 0 24 24" height="20" width="20" class="fill-current text-secondary"><path d="M22 6a2 2 0 00-2-2H4a2 2 0 00-2 2v12c0 1.1.9 2 2 2h16a2 2 0 002-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"></path></svg>
                    </div>
                </div>
                <label for="inputPassword" class="sr-only">Password</label>
                <div class="input-wrapper xs-mb1">
                    <input type="password" id="inputPassword" placeholder="Password" class="text-input rounded fill-grey-input xs-pr4" name="password" data-validate="true" data-required="true" required="">
                    <div class="xs-flex xs-flex-align-center xs-flex-justify-center xs-border border-transparent rounded text-secondary xs-p1 xs-absolute xs-r0 xs-t0 xs-full-height">
                        <svg viewBox="0 0 24 24" height="20" width="20" class="fill-current text-secondary"><path d="M17 9.761v-4.761c0-2.761-2.238-5-5-5-2.763 0-5 2.239-5 5v4.761c-1.827 1.466-3 3.714-3 6.239 0 4.418 3.582 8 8 8s8-3.582 8-8c0-2.525-1.173-4.773-3-6.239zm-8-4.761c0-1.654 1.346-3 3-3s3 1.346 3 3v3.587c-.927-.376-1.938-.587-3-.587s-2.073.211-3 .587v-3.587zm3 17c-3.309 0-6-2.691-6-6s2.691-6 6-6 6 2.691 6 6-2.691 6-6 6zm2-6c0 1.104-.896 2-2 2s-2-.896-2-2 .896-2 2-2 2 .896 2 2z"></path></svg>
                    </div>
                </div>
                <button type="submit" class="button button--action button--large pill xs-full-width xs-mt1 xs-flex xs-flex-justify-center bold shadow-2 text-3">Login</button>
            </div>
            <div class="xs-text-center xs-mt3">
                <div class="xs-mb1">or register <a href="{{ url_for('register') }}">here</a></div>
            </div>
            <input type="hidden" name="cid" value="1">
            <input type="hidden" name="pid" value="10411531">
            <input type="hidden" name="this_s_r" value="sale">
            <input type="text" name="Email" id="email" placeholder="Your email" class="xs-hide">
        </form>
    </div>
</center>
{% endblock %}